h1 {
  /* changing text */
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-size: 50px;
}

body {
    background-image: url(../images/keys-top.jpg);
    /* Background Photos from  <a href="https://pngtree.com/freebackground/vector-piano-concert-poster_142631.html">pngtree.com</a> */
    width: 100%;
  height: 700px;
  background-size: 100% 100%;
  /* revised code from W3 Schools */
}

.jumbotron {
  background-color: #d21819;
  opacity: 0.75;
}