h1 {
  /* changing text */
  font-family: 'Berkshire Swash', cursive;
  color: #e10e2a;
    font-size: 70px;
}

h2 {
  color: #e10e2a;
  font-family: 'Berkshire Swash', cursive;
  font-size: 30px;

}

body {
      background-image: url(../images/pianobackground.jpg);
  /* <a href="https://pngtree.com/free-backgrounds">free background photos from pngtree.com</a> */
    width: 100%;
  height: 620px;
  background-size: 100% 100%;
  /* revised code from W3 Schools */
  color: white;
  text-align: left;
  font-family: 'Berkshire Swash', cursive;
  font-size: 20px;

}

p {
  color: white;
  font-family: 'Berkshire Swash', cursive;

}


